<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Consolidated Revenue ($ in millions)</h2>
		<br>
		<table class='spec-table'>
			<tr class="header">
				<th width="300"></th>
				<th width="150">2013 Actual</th>
				<th width="150">2014 Actual</th>
			</tr>
			<tr>
				<td>Funds</td>
				<td>8.8</td><td>11.8</td>
			</tr>
			<tr>
				<td>Capital Markets</td>
				<td></td>
				<td></td>
				
			</tr>
			<tr class="child">
				<td>{{formatNumber lastYearRevenue.1.category}}</td>
				<td>1.9</td><td>4.2</td>
			</tr>
			<tr class="child">
				<td>{{lastYearRevenue.2.category}}</td>
				<td>1.8</td><td>0.6</td>
			</tr>
			<tr>
				<td>Total Capital Markets Revenue</td>
				<td>3.7</td><td>4.8</td>
			</tr>
			<tr class="total-row">
				<td>Total Revenue</td>
				<td>12.5</td><td>16.6</td>
			</tr>
		</table>
	</div>
	<div class="grid_6 charts">
	</div>
</section>
<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Consolidated Expenses ($ in millions)</h2>
		<table class='spec-table expenses'>
			<tr class="header">
				<th width="300"></th>
				<th width="150">2013 Actual</th>
				<th width="150">2014 Actual</th>
			</tr>
			<tr>
				<td>Compensation & Related Expenses</td>
				<td>5.5</td>
				<td>9.8</td>
			</tr>
			<tr>
				<td>Advisor Commissions</td>
				<td>2.9</td>
				<td>4.1</td>
			</tr>
			<tr>
				<td>Operating Expenses</td>
				<td>8.6</td>
				<td>7.9</td>
			</tr>
			<tr>
				<td>Non-Cash Items</td>
				<td>(2.0)</td>
				<td>1.9</td>
			</tr>
			
			<tr class="total-row">
				<td>Total Expenses</td>
				<td>15.1</td>
				<td>23.7</td>
			</tr>
		</table>
	</div>
	<div class="grid_6 expenses-charts">
	</div>
</section>
<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Consolidated Balance Sheet As of December 31, 2014 ($ in millions)</h2>
		<table class='spec-table'>
			<tr><td><b>Assets</b></td><td></td></tr>
			<tr><td>Cash</td><td>3.3</td></tr>
			<tr><td>Accounts Receivables</td><td>3.0</td></tr>
			<tr><td>Prepaid Expenses</td><td>.2</td></tr>
			<tr><td>Fixed Assets - Net</td><td>0.0</td></tr>
			<tr><td>Other Assets</td><td>1.2</td></tr>
			<tr><td>Due From Feeder Funds</td><td>3.5</td></tr>
			<tr class="total-row"><td>Total Assets</td><td>11.3</td></tr>
		</table>
		
		<table class='spec-table'>
			<tr><td><b>Liabilities</b></td><td></td></tr>
			<tr><td>Account Payable & Accrued Expenses</td><td>3.0</td></tr>
			<tr><td>Advisor Expenses Payable</td><td>0.0</td></tr>
			<tr><td>Prepaid Revenue</td><td>0.2</td></tr>
			<tr class="total-row"><td>Total Liabilities</td><td>3.2</td></tr>
		</table>
		<table class='spec-table'>
			<tr><td><b>Equity</b></td><td><b>8.0</b></td></tr>
		</table>
		<table class='spec-table'>
			<tr><td><b>Total Liabilities and Equity</b></td><td><b>11.2</b></td></tr>
		</table>
		<table class='spec-table'>
			<tr class="total-row"><td>Working Capital</td><td>3.7</td></tr>
		</table>
		
	</div>
</section>
