<div class="container_12 letter-meta">
	<div class="grid_3">
		<div class="previous-letters">
			<h3>Letters</h3>
			<ul class="previous"></ul>
			<a class="edit-letter command-button" href="#"><i class="icon-plus"></i>Add new letter</a>
		</div>
		<div class="documents hidden">
			<h3>Accompanying Documents</h3>
			<ul class="documents">
			</ul>
		</div>
	</div>
	<div class="grid_6">
		&nbsp;
		<div class="letter">
			<div class="letter-content">
				<h1 id="page-logo" class="clearfix">
					<a href="#">CAIS Group</a>
					<span name="title">Letter to our Shareholders</span>
					<!-- <span class="date" name="fromDate" data-dateformatter="y"></span>
					<span class="date" name="toDate" data-dateformatter="y"></span> -->
				</h1>
				<div class="letter-body"></div>
				<div class="letter-footer">
					<!-- <label><input name="do-not-show-again" type="checkbox">Do not show again</label> -->
					<span class="command-button close-letter">See the reports<i class="icon-right-bold"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="grid_3">
		&nbsp;
	</div>
</div>