<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Alternative Investments</h2>
	</div>
	<div class="grid_6 charts">
		Total AUM	$623,107,633<br/>
		Total Active Funds	50<br/><br/>


		Fund Leaderboard<br/>
		1) Fund 1	2.45<br/>
		2) Fund 2	16.7<br/>
		3) Fund 3	30.1<br/>
		4) Fund 4	17.7	
	</div>
</section>
<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Syndicate</h2>
		Total IOI 	$1,594,099<br/>
		Actual Allocated	$890,000<br/><br/>

		Offering by Industry Group<br/>
		Basic Materials	34<br/>
		Conglomerates	39<br/>
		Consumer	32<br/>
		Diversified	9	<br/>
		Energy	2		

	</div>
	<div class="grid_6 cm-charts">
	</div>
</section>
<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Private Equity</h2>
	</div>
	<div class="grid_6">
		grids go here
	</div>
</section>
<section class="container_12 clearfix">
	<div class="grid_6">
		<h2>Precious Metals</h2>
	</div>
	<div class="grid_6">
		grids go here
	</div>
</section>