
<nav class="report-nav grid_1">
	<ul class="reports">
		{{#subViews}}
		<li class="report-item" data-view-name="{{name}}">
			<a title="{{name}}" href="#"></a>
		</li>
		{{/subViews}}
	</ul>
</nav>
<div class="date-pickers grid_5">
	<p></p>
	<!-- <input name="fromDate" type="text"  data-role="datepicker" data-format="MMM dd, yyyy" data-parse-formats="['yyyy-MM-ddTHH:mm:ss.fffzzz']"> - 
	<input name="toDate" type="text" data-role="datepicker" data-format="MMM dd, yyyy" data-parse-formats="['yyyy-MM-ddTHH:mm:ss.fffzzz']"><br/>
	<div class="auto-pickers"><a href="#" data-range="lastQuarter">Last Quarter</a> | <a href="#" data-range="lastMonth">Last Month</a> | <a data-range="lastYear" href="#">Last Year</a> | <a data-range="ytd" href="#">YTD</a> | <a data-range="itd" href="#">ITD</a></div> -->
</div>