<div id="entity-content">
	<form class="form absolute-val">
		<div class="entity-details-container clearfix container_12">
			<div class="select-destination clearfix">
				<div class="grid_12">
					<h1 class="accounts-heading">
						{{#clientId}}Edit <span class="category-title">Firm :
							{{../fullName}}</span>{{/clientId}}{{^clientId}}Add a Firm{{/clientId}}
					</h1>
				</div>
			</div>
			<div class="view-detail-section"></div>
		</div>
	</form>
	<div class="control-bar">
		<div class="primaryButton continue">
			<div>
				<span>SAVE &amp; CONTINUE</span>
			</div>
		</div>
	</div>
</div>