<div class="title-header">
	<div class="clientFilter">
		<span>A</span> |
		<span>B</span> |
		<span>C</span> |
		<span>D</span> |
		<span>E</span> |
		<span>F</span> |
		<span>G</span> |
		<span>H</span> |
		<span>I</span> |
		<span>J</span> |
		<span>K</span> |
		<span>L</span> |
		<span>M</span> |
		<span>N</span> |
		<span>O</span> |
		<span>P</span> |
		<span>Q</span> |
		<span>R</span> |
		<span>S</span> |
		<span>T</span> |
		<span>U</span> |
		<span>V</span> |
		<span>W</span> |
		<span>X</span> |
		<span>Y</span> |
		<span>Z</span> |
		<span class="active">All</span>
	</div>
</div>                    
<div class="commands">
	<!--<div class="help"></div>-->
</div>
<div class="main-column-content">
	<div id="listGrid"></div>
	<!--
	<div  class="sideFilterWrapper">
		<div class="header"><div class="minimize gray"></div>Refine List</div>
		<div class="filters">
			<input type="text" placeholder="Quickfind" class="quickfind" />
			<div class="filterSection">Investment Types</div>
			<div class="filter"><input type="checkbox" id="alternatives" checked="checked" /><label for="alternatives">Alternatives</label></div>
			<div class="filter"><input type="checkbox" id="capitalMarkets" checked="checked" /><label for="capitalMarkets">Capital Markets</label></div>
			<div class="filter"><input type="checkbox" id="structuredProducts" checked="checked" /><label for="structuredProducts">Structured Solutions</label></div>
		</div>
	</div>
	-->
</div>