<div class="base-k-dialog-content">
	<div class="email-notification-dialog">
		<img src="/resources/assets/page-dialog/dialog-close-icon.png" alt="close" class="close-icon cancel"/>
		<!-- <div class="doc-loading"><img src="/resources/assets/CAISloader-white.gif?v=1" alt="loading..." /></div> -->
		<div class="email-notifier">
	        <div class="distribution test clearfix">
	        	<p>Select which accounts should receive this notification email.</p>
				<div class="filter hidden">
					<div class="form">
						<a class="group-select unselect-all" href="\#">Unselect all shown</a> | <a class="group-select all" href="\#">Select all shown</a>
						<div class="filter-input">
							<label>Filter</label>
							<input name="name-filter" type="text" placeholder="Name, email or firm...">
						</div>
					</div>
				</div>
				<div class="grid email-list"></div>
	        </div>
	    </div>
	</div>    
</div>
<footer class="base-k-dialog-footer">
	<ul class="confirm-buttons">
		<li class="cancel-dialog command-button-black"><a href="#">Cancel</a></li>
	    <li class="confirm-dialog command-button"><span>Notify</span></li>
	</ul>
</footer>