<form id="newIssuesEligibility" class="form" data-panelId="7">   
	<div class="entity-details-container clearfix container_12">   
		<div id="newIssuesEligibilityCommunicator"></div>    
		<div class="grid_12">
			<div class="form-heading">New Issues Eligibility <i class="tooltip icon-info-circled" data-tooltipcontainer="#new-issues-tooltip"></i></div>
			<div class="tool-tip-content hidden" id="new-issues-tooltip">
                <p>New Issues refers to a security that has been registered, issued and is being sold on a market to the public for the first time. These securities are also referred to as primary shares or new offerings.</p>
            </div>
		</div>
		<div class="grid_6 disable-container">
		
			<label class="form-label" data-tooltip="Restricted">Restricted</label>
			
			<div class="checkbox-label-wrap">
				<label><input name="restricted" type="checkbox"> Investor elects to be treated as a Restricted Person, and will be ineligible or limited in participating in New Issues.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="covered" type="checkbox">Investor elects to be treated as a Covered Person, and will be ineligible or limited in participating in New Issues.</label>
			</div>


			<label class="form-label" data-tooltip="Portfolio Managers">Portfolio Managers (and their immediate family members)</label>
			<div class="checkbox-label-wrap">
				<label><input name="resPortfolioMgrOpt1" type="checkbox"> The Investor, or a person having a beneficial interest in the Investor, has the authority to buy or sell securities for a bank, savings and loan institution, insurance company, investment adviser or collective investment account.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resPortfolioMgrOpt2" type="checkbox"> The Investor, or a person having a beneficial interest in the Investor, is an immediate family member materially supports, or receives material support from a person described immediately above as being a Portfolio Manager.</label>
			</div>
			

			<label class="form-label" data-tooltip="Team Name">Broker-Dealer and/or Its Personnel</label>
			<div class="checkbox-label-wrap">
				<label><input name="resBrokerDlrOpt1" type="checkbox">  Member of FINRA or other broker-dealer.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resBrokerDlrOpt2" type="checkbox"> Officer, director, general partners, or employee of, or person associated with, a member of FINRA or any other broker-dealer.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resBrokerDlrOpt3" type="checkbox"> Agent of a member firm of FINRA or any broker-dealer engaged in the Investment banking or securities business.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resBrokerDlrOpt4" type="checkbox"> Employed by or associated with a FINRA member or its affiliates, and has the ability to control the allocation of the initial public offering of equity securities.</label>
			</div>			

		</div>
		<div class="grid_6 disable-container">
			<label class="form-label" data-tooltip="Persons Owning a Broker-dealer">Persons Owning a Broker-dealer</label>
			<div class="checkbox-label-wrap">
				<label><input name="resPersonOwnOpt1" type="checkbox"> Owner, directly or indirectly, of 10% or more of a broker-dealer.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resPersonOwnOpt2" type="checkbox"> Owner, directly or indirectly, of 25% or more of an entity that owns, directly or indirectly, 10% more of a broker-dealer</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resPersonOwnOpt3" type="checkbox"> Owner, directly or indirectly, of 10% or more of a public reporting company that owns 5% or more of a broker-dealer.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resPersonOwnOpt4" type="checkbox"> Owner, directly or indirectly, of 25% or more of a public reporting company that has an indirect interest in a broker-dealer.</label>
			</div>


			<label class="form-label" data-tooltip="Finders and Fiduciaries">Finders and Fiduciaries (and their immediate family members)</label>
			<div class="checkbox-label-wrap">
				<label><input name="resFinderFidcOpt1" type="checkbox"> The Investor, or a person having a beneficial interest in the Investor, acts as a finder or acts in a fiduciary capacity (including, among others, attorneys, accountants and financial consultants) to the managing underwriter in public offerings of New Issues securities.</label>
			</div>
			<div class="checkbox-label-wrap">
				<label><input name="resFinderFidcOpt2" type="checkbox"> The Investor, or a person having a beneficial interest in the Investor, is an immediate family member materially supports, or receives material support from a person described immediately above as a Finder or Fiduciary.</label>
			</div>

			<label class="form-label" data-tooltip="Officers and Directors of a Public or Covered Non-Public Company">Officers and Directors of a Public or Covered Non-Public Company</label>

			<div class="checkbox-label-wrap">
				<label><input name="resOfficerDirsOpt1" type="checkbox"> An executive officer or director of a Public Company.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resOfficerDirsOpt2" type="checkbox"> An executive officer or director of a Covered Non-Public Company.</label>
			</div>

			<div class="checkbox-label-wrap">
				<label><input name="resOfficerDirsOpt3" type="checkbox"> A Person Materially Supported by any person described in 06.01 or 06.02</label>
			</div>			
		</div>     
		<div class="grid_12" style="text-align:right;">
			<hr/>
			<label class="form-label"><input name="isNewIssuesEligibilityApply" type="checkbox"> None of the above apply</label>
		</div>   
	</div>
</form>