<div id="pipeline-workflow" class="clearfix">
    <ul class="process-tabs directional clearfix">
        <li class="opportunities filter" data-filter="0"><span>Active</span></li>
        <li class="completed-trades filter" data-filter="4"><span>Completed</span></li>
    </ul>
    <ul class="pipeline-selector process-tabs">
        <li class="selected pipeline-select" data-pipelinetype="ai"><a href="#">Alternatives</a></li>
        <li data-pipelinetype="cm" class="pipeline-select"><a href="#">Syndicate</a></li>
    </ul>
</div>
<div class="content-page active clearfix">
    <div class="title-header">
        <span class="filter-name">Opportunities</span> <span style="color:#CCCCCC; font-size: 16px;">|</span>
	    <span id="selected-filter" class="selectedName"></span>
    </div>
    <div class="table-records opportunities"><span class="bracket">(</span><span class="bracket">)</span></div>
    <ul class="command-buttons">
        <li class="export-to-excel"><div class="command-button-black"><i class="icon-excel"></i>Export</div></li>
        <li class="delete-transaction"><div class="command-button-black "><div class="inner">DELETE TRANSACTION</div></div></li>
    </ul>
    <div class="grid-chart-toggle grid-view"></div>
</div>