<div class="chart-panel-wrapper">
	<div class="chart-panel one">
		<div class="header">Opportunities By Product<div class="expand"></div></div>
		<div class="chart-wrapper"><div class="chart" data-chartType="bar" data-chartData="byProduct" data-chartCategory="product"></div></div>
		<div class="chart-footer"></div>
	</div>
</div>
<div class="chart-panel-wrapper">
	<div class="chart-panel two">
		<div class="header">Opportunities By Product<div class="expand"></div></div>
		<div class="chart-wrapper"><div class="chart" data-chartType="pie" data-chartData="byProduct" data-chartCategory="product"></div></div>
		<div class="chart-footer"></div>
	</div>
</div>
	<div class="chart-panel-wrapper">
	<div class="chart-panel three">
		<div class="header">Opportunities By Wealth Advisor<div class="expand"></div></div>
		<div class="chart-wrapper"><div class="chart" data-chartType="bar" data-chartData="byAdvisor" data-chartCategory="Advisor"></div></div>
		<div class="chart-footer"></div>
	</div>
</div>
	<div class="chart-panel-wrapper">
	<div class="chart-panel four">
		<div class="header">Opportunities By Wealth Advisor<div class="expand"></div></div>
		<div class="chart-wrapper"><div class="chart" data-chartType="pie" data-chartData="byAdvisor" data-chartCategory="Advisor"></div></div>
		<div class="chart-footer"></div>
	</div>
</div>