<div class="nav-link" data-section="basic-info">
	<span data-name="basic-info" class="navigation-checkbox"></span>
	<span>1. Basic Info</span>
</div>
<div class="nav-link" data-section="product-access">
	<span data-name="product-access" class="navigation-checkbox"></span>
	<span>2. Product Access</span>
</div>
<div class="nav-link" data-section="product-permissions">
	<span data-name="product-permissions" class="navigation-checkbox"></span>
	<span>3. Product Permissions</span>
</div>
<div class="nav-link" data-section="cais-account-team">
	<span data-name="cais-account-team" class="navigation-checkbox"></span>
	<span>4. CAIS Account Team</span>
</div>
<div class="nav-link" data-section="supervisor">
	<span data-name="supervisor" class="navigation-checkbox"></span>
	<span>5. Firm Supervisors</span>
</div>

<hr/>
<div class="nav-link" data-section="cap-markets-accounts">
	<span data-name="cap-markets-accounts" class="navigation-checkbox"></span>
	<span>Syndicate Accounts</span>
</div>
<div class="nav-link disabled" data-section="structured-products-accounts">
	<span data-name="structured-products-accounts" class="navigation-checkbox"></span>
	<span>Structured Solutions Accounts</span>
</div>