<div class="nav-link hidden" data-section="entity-trade-details">
	<span data-name="tradeDetails" class="navigation-checkbox checked"></span>
	<span>Trade Details</span>
</div>
<div class="nav-link" data-section="entity-advisor-info">
	<span data-name="advisorInformation" class="navigation-checkbox"></span>
	<span>Advisor Information</span>
</div>
<div class="nav-link" data-section="entity-client-info">
	<span data-name="clientInformation" class="navigation-checkbox"></span>
	<span>Client Information</span>
</div>
<div class="nav-link has-children expanded" data-section="entity-information">
	<span data-name="entityInformation" class="navigation-checkbox"></span>
	<span>Entity Information</span>
	<ul id="entityInformationNavigation">
		<li class="nav-link" data-section="entity-information"><span data-name="entityInformation" class="entityInformationCheck"></span>Information</li>
		<li class="nav-link" id="detailsLink" data-section="entity-name-details"><span data-name="nameAndDetails" class="entityInformationCheck"></span><span>Name &amp; Details</span></li>
		<li class="nav-link" id="nonIndivDetailsLink" data-section="entity-nonindiv-details"><span data-name="niEntityInformation" class="entityInformationCheck"></span><span>Details</span></li>
		<li class="nav-link" data-section="entity-employment" id="employmentLink"><span data-name="employment" class="entityInformationCheck"></span>Employment</li>
		<li class="nav-link" data-section="entity-address"><span data-name="eiAddress" class="entityInformationCheck"></span>Address</li>
		<li class="nav-link" data-section="entity-documents"><span data-name="eiDocuments" class="entityInformationCheck"></span>Relevant Documents</li>
	</ul>
</div>
<div class="nav-link" data-section="entity-benefit-plan">
	<span data-name="benefitsPlan" class="navigation-checkbox"></span>
	<span>ERISA Representations</span>
</div>
<div class="nav-link" data-section="entity-issues-eligibility">
	<span data-name="newIssuesEligiblity" class="navigation-checkbox"></span>
	<span>New Issues Eligibility</span>
	<ul id="entityIssuesEligibilityNav">
		<li class="nav-link" id="detailsLink" data-section="entity-issues-eligibility-exempt"><span data-name="exemptEligibility" class="entityInformationCheck"></span><span>Exempt</span></li>
		<li class="nav-link" data-section="entity-issues-eligibility"><span data-name="newIssuesEligiblity" class="entityInformationCheck"></span>Non-exempt</li>
	</ul>
</div>
<div class="nav-link" data-section="entity-political-affiliation">
	<span data-name="politicalAffiliation" class="navigation-checkbox"></span>
	<span>Political Affiliation</span>
</div>
<div class="nav-link" data-section="entity-custodian-information">
	<span data-name="custodianInformation" class="navigation-checkbox"></span>
	<span>Custodian Information</span>
</div>
<div class="nav-link" data-section="entity-standing-wire">
	<span data-name="standingWireInstructions" class="navigation-checkbox"></span>
	<span>Standing Wire Instructions</span>
</div>
<div class="nav-link" data-section="entity-notifications">
	<span data-name="notifications" class="navigation-checkbox"></span>
	<span>Notifications</span>
</div>
<div class="nav-link" data-section="entity-accredited-investor">
	<span data-name="accreditedInvestor" class="navigation-checkbox"></span>
	<span>Accredited Investor</span>
</div>
<div class="nav-link" data-section="entity-qualified-client">
	<span data-name="qualifiedClient" class="navigation-checkbox"></span>
	<span>Qualified Client</span>
</div>
<div class="nav-link" data-section="entity-qualified-person">
	<span data-name="qualifiedPerson" class="navigation-checkbox"></span>
	<span>Qualified Eligible Person</span>
</div>
<div class="nav-link" data-section="entity-qualified-purchaser" >
	<span data-name="qualifiedPurchaser" class="navigation-checkbox"></span>
	<span>Qualified Purchaser</span>
</div>
<div class="nav-link hidden" data-section="entity-australia-qualification">
	<span data-name="australiaQualification" class="navigation-checkbox"></span>
	<span>Australia Qualification</span>
</div>