<div class="title-wrapper">
	<span class="category-title">{{displayName}}</span>
	<div class="account-navigation">
		<div class="account-lens" id="holdings-link" data-lensname="holdings"><a href="/holdings/{{fragment}}">Holdings</a></div>
		<!--<div class="account-lens" id="rebates-link" data-lensname="rebates"><a href="#rebates/{{fragment}}/rebates">Rebates</a></div>-->
		<div class="account-lens" id="performance-link" data-lensname="performance"><a href="/performance/{{fragment}}">Performance</a></div>
		<div class="account-lens" id="documents-link" data-lensname="documents"><a href="/documents/{{fragment}}">Documents</a></div>
		<div class="account-lens" id="list-link" data-lensname="list"><a href="/list/{{fragment}}">List</a></div>
		<div class="account-lens" id="detail-link" data-lensname="detail"><a href="/detail/{{fragment}}">Detail</a></div>
	</div>
	<div class="settings">
	</div>
</div>
<div class="ui-feedback hidden">
	<div id="informationCommunicator" class="communicator visible">
		<div class="communicatorContent">
			<div class="icon-wrap success"><i class="icon-ok"></i></div>
			<div class="icon-wrap error"><i class="icon-attention"></i></div>
			<span class="message-text"></span>
		</div>
		<div class="communicatorClose"><i class="icon-cancel-circled"></i></div>
	</div>
</div>
<div class="content-view"></div>