<div class="container_12 clearfix">
    <div class="grid_12 active-supervisors">
        <h2>Active firm supervisors</h2>
        <ul class="supervisor-list clearfix">
            <!-- supervisors go here -->
            <li class="empty">No firm supervisors</li>
        </ul>
        <div class="secondaryButton">
            <div><a data-bypass href="add_team"><i class="icon-plus-circled"></i>Add Team</a></div>
        </div>
        <div class="secondaryButton show-supervisor-form hidden">
            <div><span><i class="icon-plus-circled"></i>Add Supervisor</span></div>
        </div>
    </div>
    <div class="grid_2">&nbsp;</div>
    <div class="create-new-supervisor grid_8">
        <!-- user form view goes here -->
    </div>
    <div class="grid_2">&nbsp;</div>
</div>

