<div id="pipeline-workflow" class="clearfix">
    <ul class="process-tabs clearfix">
        <li class="funds-received filter" data-filter="0"><span>Active Orders</span></li>
        <li class="documents-received filter" data-filter="1"><span>Booked Orders</span></li>
    </ul>
    <ul class="pipeline-selector process-tabs">
        <li class="pipeline-select" data-pipelinetype="ai"><a href="#">Alternatives</a></li>
        <li class="selected pipeline-select" data-pipelinetype="cm"><a href="#">Syndicate</a></li>
    </ul>
</div>

<div class="content-page active clearfix" id="opportunities">
    <div class="title-header"><span class="filter-name">Orders</span> <!-- <span style="color:#CCCCCC; font-size: 16px;">|</span>
	    <span id="selected-filter" class="selectedName"></span> -->
        
    </div>
    <a style="float: right; margin: 1.25em; color: #00456C; text-decoration: underline; font-size: .9em;" href="/products/syndicate">View all Syndicate Deals</a>
    <!-- <div class="table-records opportunities"><span class="bracket">(</span><span class="bracket">)</span></div> -->
    <ul class="command-buttons">
        <li class="delete-transaction"><div class="command-button-black "><div class="inner">DELETE TRANSACTION</div></div></li>
    </ul>
</div>