<div class="scrollable-content">
    <div class="docs-approved-container">
        <div class="docs-approved-top">
            <div class="docs-approved-img"></div>
        </div>
        <div class="docs-approved-documents">
            <ul class="docs-approved-list">
               {{^collection}}
                <li><span>No Documents Found</span></li>
                {{/collection}}
                {{#collection}}
                <li class="docs-received" id="{{documentId}}">
                    <img src="/resources/assets/icons/pdf-icon.png" alt="document" data-docid="{{documentId}}">
                    <span class="doc-name">{{fileName}}</span>
                    <span class="doc-date">{{createDate}}</span>
                </li>
                {{/collection}}
            </ul>
        </div>
    </div>
</div>     
<div class="details-footer">
    <ul class="commands">
        <li id="downloadDocsReceived" class="command-button"><a><div class="inner">DOWNLOAD</div></a></li>
        <li id="confirmDocsReceived" class="command-button"><a><div class="inner">DOCUMENTS APPROVED</div></a></li>
    </ul>
</div>