<div class="details-header"><span>Review documents uploaded by wealth advisor. Advisor will be restricted from upload when approved and must be unlocked manually.</span></div>
<div class="scrollable-content">
    <div class="documents-section">
        <div class="title">Submitted Documents</div>
        <ul class="docs-received-list document-list">
            {{^collection}}
            <li><span>No Documents Found</span></li>
            {{/collection}}
            {{#collection}}
            <li class="docs-received" id="{{documentId}}">
                <img src="/resources/assets/icons/pdf-icon.png" alt="document" data-docid="{{documentId}}">
                <span class="doc-name">{{fileName}}</span>
                <span class="doc-date">{{createDate}}</span>
            </li>
            {{/collection}}
        </ul>
    </div>
</div>
<div class="details-footer">
    <ul class="commands">
        <li id="downloadDocsReceived" class="command-button"><a><div class="inner">DOWNLOAD</div></a></li>
        <li id="confirmDocsReceived" class="command-button"><div class="inner">DOCUMENTS RECEIVED</div></a></li>
    </ul>
</div>