<div class="trader base-k-dialog-content">
	<div class="tabs">
        <ul>
            <li class="k-state-active select-accounts">
                Select Accounts
            </li>
            <li class="k-state-disabled select-products">
                Place orders
            </li>
        </ul>
        <div>
            <div class="accounts-list">	</div>
        </div>
        <div>
        	<div class="product-list clearfix"></div>
        </div>
    </div>
</div>
<footer class="base-k-dialog-footer">
	<div class="footer-add-btns">
		<!-- <a class="add-new" href="#"><i class="icon-plus"/>Add accounts</a> -->
		<!-- <a class="add-products" href="#"><i class="icon-plus"/>Add products</a> -->
	</div>
	<ul class="confirm-buttons">
		<li class="cancel-dialog command-button-black"><a href="#">Cancel</a></li>
	    <li class="next command-button btn-disabled"><a href="#">Next <i class="icon-right-bold"></i></a></li>
	    <li class="place-transaction command-button hidden"><a href="#">Place Order</a></li>
	</ul>
</footer>
