<ul>
	<li data-section="review" data-taskid="1"><a data-bypass href="{{slug}}/checklist/review">Review Documents<span class="task-complete"></span></a></li>
	<li data-section="present" data-taskid="2"><a data-bypass href="{{slug}}/checklist/present">Present Documents<span class="task-complete"></span></a></li>
	<li data-section="verify" data-taskid="3"><a data-bypass href="{{slug}}/checklist/verify">Verify Transaction<span class="task-complete"></span></a></li>
	<li data-section="upload" data-taskid="4"><a data-bypass href="{{slug}}/checklist/upload">Upload Documents<span class="task-complete"></span></a></li>
	<li data-section="received" data-taskid="5"><a data-bypass href="{{slug}}/checklist/received">Documents Received<span class="task-complete"></span></a></li>
	<li data-section="approved" data-taskid="6"><a data-bypass href="{{slug}}/checklist/approved">Documents Approved<span class="task-complete"></span></a></li>
	<li data-section="funding" data-taskid="8"><a data-bypass href="{{slug}}/checklist/funding">Funds Received<span class="task-complete"></span></a></li>
	<li data-section="completed" data-taskid="9"><a data-bypass href="{{slug}}/checklist/complete">Trade Complete<span class="task-complete"></span></a></li>
</ul>