<li class="clearfix">
	<h2 class="category-name"><i class="icon-minus-circled"></i><i class="icon-plus-circled"></i><span name="name"></span></h2>
	<div class="collapse">
		<div class="title">
			<label for="typeName">Category Name*</label>
			<input type="text" name="name" required validationMessage="Category Name is required">
		</div>
		<div class="description">
			<label for="description">Description*</label>
			<textarea name="description" required validationMessage="Description is required"></textarea>
		</div>
		<div class="learn-more-link">
			<label for="url">Learn More Link</label>
			<input type="text" name="url">
		</div>
		<div class="category-edit-options">
			<a href="#" class="remove-item" title="Remove item">Delete Category <i class="icon-cancel-circled"></i></a>
			<a href="#" class="save-model command-button">Save</a>
		</div>
	</div>
</li>