<form class="form gridded-form" data-role="validator">
	<div class="base-k-dialog-content">
		<div class="container_12">
			<div class="grid_12">
				<ul class="category-list items">
				</ul>
			</div>
		</div>
	</div>
	<footer class="base-k-dialog-footer">
		<ul class="confirm-buttons">
			<!-- <li class="cancel-dialog command-button-black"><a href="#">Done</a></li> -->
			<li><a href="#" class="add-new"><i class="icon-plus"></i>Add Category</a></li>
			<li class="cancel-dialog command-button"><span>Done</span></li>
		</ul>
	</footer>
</form>
