<form class="form gridded-form" action="/api/products/structured_products/id/dealterms">
	<div class="base-k-dialog-content container_12">
		<div class="grid_6">
			<label class= for="grossDollars">Total Revenue</label>
			<input title="Total Revenue" name="grossDollars" type="text" data-role="numerictextbox" data-format="c">
			
			<label class= for="feesToCustodian">Fees to Custodian</label>
			<input title="Fees to Custodian" name="feesToCustodian" type="text" data-role="numerictextbox" data-format="c">
			
			<label class= for="hedgeCosts">Hedge Costs</label>
			<input title="Hedge Costs" name="hedgeCosts" type="text" data-role="numerictextbox" data-format="c">
		</div>
		<div class="grid_6">
			<label class= for="legalCosts">Legal Costs</label>
			<input title="Legal Costs" name="legalCosts" type="text" data-role="numerictextbox" data-format="c">
			
			<label class= for="netRevenue">Net Revenue</label>
			<input title="Net Revenue" name="netRevenue" type="text" data-role="numerictextbox" data-format="c">
			
			<label class= for="caisrevenue">CAIS Revenue</label>
			<input title="CAIS Revenue" name="caisrevenue" type="text" data-role="numerictextbox" data-format="c">
		</div>
	</div>

	<footer class="base-k-dialog-footer">
		<ul class="confirm-buttons">
			<li class="cancel-dialog command-button-black"><a href="#">Cancel</a></li>
		    <li class="confirm-dialog command-button"><a href="#">Update Deal</a></li>
		</ul>
	</footer>
</form>