<li class="clearfix">
    <h2 class="category-name"><i class="icon-minus-circled"></i><i class="icon-plus-circled"></i><span name="issuerName"></span></h2>
    <div class="collapse">
        <div class="title">
            <label for="issuerName">Name*</label>
            <input type="text" name="issuerName" required validationMessage="Name is required">
        </div>
        <div class="learn-more-link">
            <label for="creditRating">Credit Rating*</label>
            <input type="text" name="creditRating" required validationMessage="Credit rating is required">
        </div>
        <div class="learn-more-link">
            <label for="logoUrl">Logo URL</label>
            <input type="text" name="logoUrl">
        </div>
        <div class="category-edit-options">
            <a href="#" class="remove-item" title="Remove item">Delete Issuer <i class="icon-cancel-circled"></i></a>
            <a href="#" class="save-model command-button">Save</a>
        </div>
    </div>
</li>