<li class="clearfix">
	<div class="text-editor title">
		<label for="keyTerms">Title</label>
		<textarea data-role="editor" name="name" tabindex="8" data-tools="['bold', 'italic', 'underline', 'insertUnorderedList', 'insertOrderedList', 'indent', 'outdent']"></textarea>
	</div>
	<div class="text-editor description">
		<label for="keyTerms">Description</label>
		<textarea data-role="editor" name="description" tabindex="8" data-tools="['bold', 'italic', 'underline', 'insertUnorderedList', 'insertOrderedList', 'indent', 'outdent']"></textarea>
	</div>
	<a href="#" class="remove-item" title="Remove item">Remove <i class="icon-cancel-circled"></i></a>
</li>