<div id="entity-content">
    <form class="form absolute-val">
        <div class="entity-details-container clearfix container_12">
            <div class="select-destination clearfix">
            	<div class="grid_12">
                    <h1 class="accounts-heading">{{#id}}Edit <span class="category-title">Team : {{../advisorName}}</span>{{/id}}{{^id}}Add a Team{{/id}}</h1>
    	        </div>
            </div>
            <div class="view-detail-section"></div>
        </div>
    </form>
    <div class="control-bar">
        <div class="primaryButton continue"><div><span>SAVE & CONTINUE</span></div></div> 
    </div>
</div>

