<div class="container_12 clearfix">
	<div class="team-info clearfix">
        <div class="source-selector">
            <label><input type="radio" name="new-user" value="true" checked>Add new team member</label>
            <label><input type="radio" name="new-user" value="false">Select existing firm member</label>
        </div>

        <div class="grid_2">&nbsp;</div>
        <div class="team-member-form grid_8">
                <!-- user form view goes here -->
        </div>
        <div class="grid_8" style="text-align: center;">
            <div class="add-existing-container hidden">
                <strong>Select a member from this firm to add to this team</strong><br/>
                <select data-role="dropdownlist" name="existingMembers">
                    <option>Pick a firm above</option>
                </select>
                <div class="secondaryButton add-existing">
                    <div><span><i class="icon-plus-circled"></i>Add user</span></div>
                </div>
            </div>
        </div>
        <div class="grid_2">&nbsp;</div>
    </div>
    
</div>